.flex-container {
  display: flex;
  justify-content: center;
  height: 300px;
  width :800px;
  flex-basis: 200px
}
.flex-container2 {
  display: flex;
  justify-content: center;
  height: 30px;
  width :50px;
  flex-basis: 200px

}



