<!--useless html page-->

<!--{% extends 'textutiles.html' %} {%block body%}-->
<!--{% load static %}-->
<!--&lt;!&ndash;<link rel="stylesheet" href="{% static 'css/pdfhomepage.css'%}">&ndash;&gt;-->

<!--<html>-->
<!--<head>-->
<!--    <script type="text/javascript" src="jquery.js"></script>-->
<!--    <script type="text/javascript" src="{% static 'js/custom.js'%}"></script>-->
<!--    <title>Pdf Operation</title>-->
<!--</head>-->
<!--<body>-->

<!--<div id="mySidenav" class="sidenav">-->
<!--    <a href="{% url 'mergepdf' %}"id="about" value="load">Mergepdf</a>-->
<!--    <a href="{% url 'compress' %}" id="blog">compress</a>-->
<!--    <a href="{% url 'lock' %}" id="projects">lock</a>-->
<!--    <a href="{% url 'unlock' %}" id="contact">Unlock</a>-->
<!--</div>-->
<!--<center>-->
<!--<div id="content">hello this is div</div>-->
<!--</center>-->
<!--</body>-->
<!--</html>-->


<!--{% endblock%}-->